@model eStoreClient.Models.Member

<h1>Create Member</h1>
<form method="post">
    <label>Email:</label>
    <input type="email" name="Email" required />
    <label>Password:</label>
    <input type="password" name="Password" required />
    <label>Full Name:</label>
    <input type="text" name="FullName" required />
    <label>Birthday:</label>
    <input type="date" name="Birthday" required />
    <button type="submit">Create</button>
</form>